@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    
}

#main{
    min-height: 100vh;
    width: 100%;
    display: flex;;
    align-items: center;
    justify-content: center;
    background-image:url(sunnypic1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
   

}


#main label {
    margin: 10px;
    
}



